
/**************************************************************

	Image Menu
	v 2.2

**************************************************************/


#imageMenu {
	position: relative;
	width: 1024px;
	height: 320px;
	overflow: hidden;
}



#imageMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 320px;
	width: 2048px;
	
	}

#imageMenu ul li {
	float: left;
}

#imageMenu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:202px;
	height: 320px;
}

#imageMenu ul li.landscapes a {
	background: url(../images/banner/landscapes.jpg) repeat scroll 0%;
}

#imageMenu ul li.people a {
	background: url(../images/banner/people.jpg) repeat scroll 0%;
}

#imageMenu ul li.nature a {
	background: url(../images/banner/nature.jpg) repeat scroll 0%;
}

#imageMenu ul li.urban a {
	background: url(../images/banner/urban.jpg) repeat scroll 0%;
}

#imageMenu ul li.abstract a {
	background: url(../images/banner/abstract.jpg) repeat scroll 0%;
	width: 310px;
}

.clear {
	clear: both;
}

/*************************************************************/

